<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sahaj.mathlearns">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.noActionBar"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".addLevFB"></activity>

        <activity android:name=".addLevCh"></activity>

        <activity android:name=".subLevFB"></activity>

        <activity android:name=".subLevCh"></activity>

        <activity android:name=".multLevFB"></activity>

        <activity android:name=".multLevCh"></activity>

         <activity android:name=".divLevFB"></activity>

        <!-- <activity android:name=".divLevtwo"></activity> -->
        <activity android:name=".mainMenu"></activity>
        <activity android:name=".Day_Test_Class">
            <intent-filter>
                <action android:name="android.intent.action.RUN"></action>
            </intent-filter>
        </activity>

    </application>

</manifest>